/*-----------------------------------------------------default setting------------------------------------------------*/
p{
    font-size: 30px;
    font-weight: 700;
    color:#ededed;
}

body{
    background:black;
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:85%;
    padding: 20px 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 100;
}

.logo{
    font-size:25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 700;
}

.narbar a {
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 700;
    margin-left:30px;
}

.narbar a:hover,
.narbar a.active{
    color:yellow;
}
/*-------------------------------------------------------Home Page-------------------------------------------------------*/
.homepage {
    height:100vh;
    display:flex;
    align-items: center;
    padding:0 10%;
}

.homepage-content{
    max-width: 700px;
}

.homepage-content h1{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    color:#ededed;
}

.homepage-content h3 {
    font-size: 30px;
    font-weight: 700;
    color:#ededed;
}

.homepage-content .btn-box{
    width:345px;
    height:50px;
    background:transparent;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 3px solid #00abf0;
    border-radius:100px;
    font-size: 20px;
    color:#ededed;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    z-index:1;
    overflow: hidden;
}

.btn-box a::before{
    content:'';
    position:absolute;
    border-radius:100px;
    top:0;
    left:0;
    width: 0;
    height:100%;
    background:black;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width:100%;
}

.homepage-contact{
    position:absolute;
    bottom:40px;
    width:170px;
    display:flex;
    justify-content: space-between;
}

.homepage-contact a{
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background:#00abf0;
    border:2px solid #00abf0;
    border-radius:50%;
    font-size:20px;
    color:#ededed;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.homepage-contact a::before{
    content:'';
    position:absolute;
    border-radius:100px;
    top:0;
    left:0;
    width: 0;
    height:100%;
    background:black;
    z-index: -1;
    transition: .5s;
}

.homepage-contact a:hover::before{
    width:100%;
}


img{
    align-items: center;
    max-width: 300px;
    float:right;
    margin-right:250px;
    margin-top: 150px;
}

/*---------------------------------------------------Project Pages----------------------------------------------*/
.projectPage{
    height:140vh;
    display:flex;           /*to display your content in a more flexible manner*/ 
    align-items: center;
    padding:0 10%;
    font-size:20px;
    color: #ededed;
}

.projectPage-content h2{
    font-size: 40px;
    color: #ededed;
}

/*---------------------------------------------------Toolbelt Pages----------------------------------------------*/
.toolbeltPage{
    height:100vh;
    display:flex;           /*to display your content in a more flexible manner*/ 
    align-items: center;
    padding:0 10%;
    font-size: 20px;
    color: #ededed;
}

.toolbeltPage-content h2{
    font-size: 40px;
    color: #ededed;
}

/*---------------------------------------------------Job Experience Pages----------------------------------------------*/
.jobPage{
    height:100vh;
    display:flex;           /*to display your content in a more flexible manner*/ 
    align-items: center;
    padding:0 10%;
    font-size: 20px;
    color: #ededed;
}

.jobPage-content h2{
    font-size: 40px;
    color: #ededed;
}
